<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
						">
<!-- 
1. extends AbstractView interface and it's method

public void render(Map model, HttpServletRequest request,
			HttpServletResponse response) throws Exception {
			
2. declare the view as a bean in views.xml handled by XmlFile

3. declare the controller for the url: rss.rss - in SimpleUrlHandlerMapping

4. the controller must return rss.rss, the name of the view (and bean name) to use that output
 -->

</beans>