<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
						">
<!-- 
1. implements AbstracPdfView and the buildDocument methods

2. register the view as a bean in views.xml - XmlFileViewResolver looks there

3. in SimpleMappingHandlerController add the url mapped to an actual controller that will provide the actual
	data in 
	
4. register in web.xml the new extension:

<servlet-mapping>
  <servlet-name>roadrantz</servlet-name>
  <url-pattern>*.pdf</url-pattern>
</servlet-mapping>

5. now any controller that returns the view name: "pdf.pdf" in our case, will have a pdf generated response

 -->

</beans>