<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
						">
	<!--
		FreeMarker is another well-known template language that aims to
		replace JSP in the view layer of MVC applications. Let’s see how to
		plug FreeMarker into your Spring MVC application. FreeMarker is
		slightly more complex than Velocity, but only as the result of being
		slightly more powerful. FreeMarker comes with built-in support for
		several useful tasks, such as date and number formatting and
		white-space removal. These fea- tures are only available in Velocity
		through add-on tools.
	-->

	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="WEB-INF/jsp/freemarker/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">3600</prop>
			</props>
		</property>
	</bean>

	<bean id="freeMarkerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".html" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>

</beans>
