<div ng-show="user" ng-hide="!user">
	<h1>Repos</h1>
	<table>
		
		Filter: <input type="text" ng-model="filterNameSecond" />
		<br/>
		<select ng-model="repoSortOrder">
			<option value="+name">Name</option>
			<option value="-stargazers_count">Stargazers</option>
		</select>
		<br/>
		<tr ng-repeat="repo in repos | filter:filterNameSecond | orderBy:'-stargazers_count'">
			<td>{{repo.name}}</td>		
			<td>{{repo.stargazers_count | number}}</td>
			<td>{{repo.language}}</td>
		</tr>	
	</table>
</div>